<!-- change_email_request.tt2 -->

[%|loc%]Changing your email address is an important operation. Therefore, we need to verify that it is really your email address.[%END%]<br />
[%|loc(new_email)%]To verify the email address, we have sent a message to: %1 with a confirmation ticket.[%END%]<br />
[%|loc%]Please check your mailbox now.[%END%]

<!-- end change_email_request.tt2 -->
