<!-- help_faq-user-contact.tt2 -->
<h2><a name="contactadmin"></a>[%|helploc%]You want to contact list owners[%END%]</h2>
<p>
    [%|helploc(domain)%]The list owners and moderators' names are mentioned in the left menu. However, you should never write directly to a list owner or moderator: first, the person to whom you are writing might be absent, and furthermore, it is better to inform all owners and moderators of your request. When you have a question or remark, <strong>the address you should write to is: nameofthelist-request@%1</strong> (replace 'nameofthelist' by the name of the list).[%END%]
</p>
<!-- end help_faq-user-contact.tt2 -->
