<!DOCTYPE html>
<html lang="[% lang %]" xml:lang="[% lang %]">
<!-- $Id$ -->
<head>
<meta charset="UTF-8" />
<meta name="generator" content="Sympa [% version %]" />

<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<title> [% main_title %] - [% action %] </title>

[% IF custom_css %]
<style>
[% custom_css %]
</style>
[% ELSE %]
<link rel="stylesheet" href="[% css_url %]/style.css" media="screen" title="Sympa CSS" />
[% END %]

[% PROCESS css_ie.tt2 %]

[% IF locale_css %]
<style>
[% locale_css %]
</style>
[% END %]

<!-- RSS chanel -->
   [% IF list -%] 
     [% IF arc_public_access %]<link rel="alternate" type="application/xml" title="[%|loc%]RSS Latest messages[%END%]" href="[% base_url%][% path_cgi %]/rss/latest_arc/[%list%]?count=20"/>[% END -%]
     [% IF shared_public_access %]<link rel="alternate" type="application/xml" title="[%|loc%]RSS Latest documents[%END%]" href="[% base_url%][% path_cgi %]/rss/latest_d_read/[%list%]?count=20"/>[% END -%]
   [% ELSE -%]
     [% IF (action == 'lists') && topic -%]
       <link rel="alternate" type="application/xml" title="[%|loc%]RSS Latest lists[%END%]" href="[% base_url%][% path_cgi %]/rss/latest_lists/[%topic%]?count=20"/>
       <link rel="alternate" type="application/xml" title="[%|loc%]RSS Active lists[%END%]" href="[% base_url%][% path_cgi %]/rss/active_lists/[%topic%]?count=20"/>
     [% ELSE -%]
     <link rel="alternate" type="application/xml" title="[%|loc%]RSS Latest lists[%END%]" href="[% base_url%][% path_cgi %]/rss/latest_lists?count=20"/>
     <link rel="alternate" type="application/xml" title="[%|loc%]RSS Active lists[%END%]" href="[% base_url%][% path_cgi %]/rss/active_lists?count=20"/>
     [% END -%]
   [% END -%]


<!-- the following CSS have to be improved before to be used -->
<!-- <link rel="stylesheet" href="[% css_url %]/print.css" media="print" /> -->
<!-- <link rel="alternative stylesheet" href="[% css_url %]/fullPage.css" media="screen" title="View Full Page" /> -->
<!-- <link rel="alternative stylesheet" href="[% css_url %]/print-preview.css" media="screen" title="Print Preview" /> -->

[% IF conf.favicon_url %]
<link rel="shortcut icon" href="[% conf.favicon_url %]" />
[% ELSE %]
<link rel="shortcut icon" href="[% icons_url %]/favicon_sympa.png" />
[% END %]

[% PROCESS javascript.tt2 %]

<!--<link rel="stylesheet" type="text/css" href="/hub/res/bar.css" />
<script type="text/javascript" src="/hub/res/bar.js"></script>-->
<script src="/static-sympa/external/modernizr.custom.js"></script>

[% IF base %] <base href="[% base %]" /> [% END %]

</head>

<body onload="[% IF use_htmlarea %] HTMLArea.replaceAll();[% END %][% IF back_to_mom %] setTimeout('refresh_mom_and_die()',1000);[% END %]">

<a name="top"></a>

<noscript><em>[%|loc%]Please activate JavaScript in your web browser[%END%]</em></noscript>

[% IF nomenu %]
      [% PROCESS error.tt2 IF errors %]
      <div class="nomenu">
		<div class="ContentBlock">
			[% PROCESS notice.tt2 IF notices %]
			[% PROCESS "${action}.tt2" IF action %]
		</div>
      </div>
[% ELSE %]

      [% PROCESS error.tt2 IF errors %]
   <div class="sidebar" style="padding-top: 10px;">
      [% PROCESS login_menu.tt2 %]
      [% PROCESS list_menu.tt2 IF list %]
      <h2>Sympa Menu</h2>
      [% PROCESS menu.tt2 %]
   </div>


       <!-- a href="javascript:afficheId('contenu','Stretcher')">ouvrir</a>
       <a href="javascript:cacheId('contenu','Stretcher');">Fermer</a-->

<div id="loading" style="overflow: hidden; display: none;">
   <div style="position:relative;float:left;"><img src="[% static_content_url %]/icons/spinner.gif"></div>
   <div style="position:relative;width:50%;"><h1 id="loadingText">[%|loc%]Please Wait...[%END%]</h1></div>
</div>

<div id="content-inner">
    [% PROCESS title.tt2 %]
      [% IF list %]
       [% IF list_title %]<p><b>Subject:</b> [% IF is_owner %]<a href="[% path_cgi %]/edit_list_request/[% list %]/description">(Edit)</a>[% END %] [% list_title %]</p>[% END %]
      [% END %]

        [% PROCESS nav.tt2 %]

       <div class="ContentBlock">
        [% PROCESS notice.tt2 IF notices %]
        [% IF action == 'edit_list_request' %]<br /><br />[% END %]
        [% PROCESS "${action}.tt2" IF action %]
      </div><!-- End div ContentBlock -->


 [% PROCESS dumpvars.tt2 IF dumpvars == 'true'%]
</div><!-- End content-inner -->

 [% PROCESS footer.tt2 %]
[% END %]

		<script>
			//  The function to change the class
			var changeClass = function (r,className1,className2) {
				var regex = new RegExp("(?:^|\\s+)" + className1 + "(?:\\s+|$)");
				if( regex.test(r.className) ) {
					r.className = r.className.replace(regex,' '+className2+' ');
			    }
			    else{
					r.className = r.className.replace(new RegExp("(?:^|\\s+)" + className2 + "(?:\\s+|$)"),' '+className1+' ');
			    }
			    return r.className;
			};	

			//  Creating our button in JS for smaller screens
			var menuElements = document.getElementById('menu');
			menuElements.insertAdjacentHTML('afterBegin','<button type="button" id="menutoggle" class="navtoogle" aria-hidden="true"><i aria-hidden="true" class="icon-menu"> </i> Menu</button>');

			//  Toggle the class on click to show / hide the menu
			document.getElementById('menutoggle').onclick = function() {
				changeClass(this, 'navtoogle active', 'navtoogle');
			}

			// http://tympanus.net/codrops/2013/05/08/responsive-retina-ready-menu/comment-page-2/#comment-438918
			document.onclick = function(e) {
				var mobileButton = document.getElementById('menutoggle'),
					buttonStyle =  mobileButton.currentStyle ? mobileButton.currentStyle.display : getComputedStyle(mobileButton, null).display;

				if(buttonStyle === 'block' && e.target !== mobileButton && new RegExp(' ' + 'active' + ' ').test(' ' + mobileButton.className + ' ')) {
					changeClass(mobileButton, 'navtoogle active', 'navtoogle');
				}
			}
		</script>
		
</body>
<!-- end main.tt2 -->
</html>
