<!-- scenario_test.tt2 -->

<h3>[%|loc%]Scenario test module[%END%]</h3><br />
<form action="[% path_cgi %]" method="post">
<fieldset>
    <input type="hidden" name="csrftoken" value="[% csrftoken %]" />
    <input type="hidden" name="action" value="scenario_test" />
      <label for="scenario">[%|loc%]Scenario name:[%END%]  </label>
      <select id="scenario" name="scenario">
          [% FOREACH sc = scenario %]
            <option value="[% sc.key %]" [% sc.value.selected %]>[% sc.key %]</option>
          [% END %]
      </select><br />
      <label for="listname">[%|loc%]List name:[%END%]  </label>
      <select id="listname" name="listname">
          [% FOREACH l = listname %]
            <option value="[% l.key %]"[% l.value.selected %] >[% l.key %]</option>
          [% END %]
      </select><br />
      <label for="sender">[%|loc%]sender email:[%END%]  </label>
          <input id="sender" type="text" name="sender" size="20" value="[% sender %]" />
      <br />
      <label for="email">[%|loc%]Related email:[%END%]  </label>
          <input id="email" type="text" name="email" size="20" value="[% email %]" />
      <br />
      <label for="remote_addr">[%|loc%]Remote IP address:[%END%]  </label>
          <input type="text" name="remote_addr" size="16" value="[% remote_addr %]" />
      <br />
      <label for="remote_host">[%|loc%]Remote host:[%END%]  </label>
          <input type="text" name="remote_host" size="16" value="[% remote_host %]" />
      <br />
      <label for="auth_method">[%|loc%]Auth method:[%END%]  </label>
      <select id="auth_method" name="auth_method">
      [% FOREACH a = auth_method %]
        <option value="[% a.key %]"[% a.value.selected %] >[% a.key %]</option>
      [% END %] 
      </select>
      <br />
      <input id="rule" class="MainMenuLinks" type="submit" name="action_scenario_test" value="[%|loc%]get matched rule[%END%]" />
      <span class="bg_color_dark">
          [% IF scenario_action %]
             <code>[% scenario_condition %], [% scenario_auth_method %] -> [% scenario_action %]</code>
          [% ELSE %]
          <label for="rule" class="text_center">&nbsp;-&nbsp;</label>
          [% END %]
      </span>

    </fieldset>
    </form>
<!-- end scenario_test.tt2 (distrib) -->
