<!-- $Id$ -->

<!-- begin title.tt2 -->
<h1 style="padding-top: 10px;">[% title %]</h1>
<div id="top"><a class="displayNone" href="#Paint">[%|loc%]Skip to Content.[%END%]</a></div>
<!-- end title.tt2 -->
