<!DOCTYPE html>
<html lang="[% lang %]" xml:lang="[% lang %]">
<!-- $Id$ -->
<head>
<meta charset="UTF-8" />
<meta name="generator" content="Sympa [% version %]" />

<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<title> [% main_title %] - [% action %] </title>

[% IF custom_css %]
<style>
[% custom_css %]
</style>
[% ELSE %]
<link rel="stylesheet" href="[% css_url %]/style.css" media="screen" title="Sympa CSS" />
[% END %]

[% PROCESS css_ie.tt2 %]

[% IF locale_css %]
<style>
[% locale_css %]
</style>
[% END %]

<!-- the following CSS have to be improved before to be used -->
<!-- <link rel="stylesheet" href="[% css_url %]/print.css" media="print" /> -->
<!-- <link rel="alternative stylesheet" href="[% css_url %]/fullPage.css" media="screen" title="View Full Page" /> -->
<!-- <link rel="alternative stylesheet" href="[% css_url %]/print-preview.css" media="screen" title="Print Preview" /> -->

[% IF conf.favicon_url %]
<link rel="shortcut icon" href="[% conf.favicon_url %]" />
[% ELSE %]
<link rel="shortcut icon" href="[% icons_url %]/favicon_sympa.png" />
[% END %]

[% PROCESS javascript.tt2 %]

[% IF base %] <base href="[% base %]" /> [% END %]

</head>

<body>

   <div class="sidebar" style="padding-top: 10px;">
      [% PROCESS login_menu.tt2 %]
      <h2>[%|loc%]Sympa Menu[%END%]</h2>
      [% PROCESS menu.tt2 %]
   </div>

       <!-- a href="javascript:afficheId('contenu','Stretcher')">ouvrir</a>
       <a href="javascript:cacheId('contenu','Stretcher');">Fermer</a-->

<div id="content-inner">
    [% PROCESS title.tt2 %]

       <div class="ContentBlock">
         <h2>[%|loc%]Internal Server Error[%END%]</h2>
         <p>[%|loc%]Sympa could not deliver the requested page for the following reason: [%END%]</p>
         <p>[%|loc(tt2_error)%]Error: %1[%END%]</p>
         <p>[%|loc%]Please contact the listmaster.[%END%]</p>
      </div><!-- End div ContentBlock -->

</div><!-- End content-inner -->

 [% PROCESS footer.tt2 %]

</body>
<!-- end tt2_error.tt2 -->
</html>
