<!DOCTYPE html>
<html class="no-js" lang="[% lang %]" xml:lang="[% lang %]">
    <!-- tt2_error.tt2 -->
    <head>
        <meta charset="UTF-8" />
        <meta name="generator" content="Sympa [% version %]" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> [% main_title %] - [% action %] </title>
        [% TRY; PROCESS head_ui.tt2; CATCH; ''; END %]
        [% TRY; PROCESS head_javascript.tt2; CATCH; ''; END %]
    </head>
    <body>
        [% top_menu = 1 %]

        <div id="top">
            <a class="displayNone" name="top" href="#content-inner">
                [%|loc%]Skip to Content.[%END%]
            </a>
        </div>

        [% IF top_menu %]
            [% TRY; PROCESS header.tt2; CATCH; ''; END %]
        [% END %]

        [%# Show loading notice only when javascript is enabled. ~%]
        <div id="loading"></div>

        [% TRY; PROCESS aside_menu.tt2; CATCH; ''; END %]
        [% IF top_menu %]
            [%~ IF not list ~%]
                <main id="content-inner" class="row">
            [%~ ELSE ~%]
                <main id="content-inner" class="medium-9 columns">
            [%~ END %]
        [%~ ELSE ~%]
                <main id="content-inner" class="medium-9 columns">
        [%~ END ~%]
                    <a name="content-inner"></a>

                    [% IF not top_menu %]
                        <h1>[% main_title %]</h1>
                    [% END %]
                    [% IF list %]
                        [% TRY; PROCESS title.tt2; CATCH; ''; END %]
                        [% IF list_title %]
                            <p>
                                <b>[%|loc%]Subject:[%END%]</b> [% list_title %]
                                [% IF is_owner %]
                                    <a href="[% 'edit_list_request' | url_rel([list,'description']) %]">
                                        <i class="fa fa-pencil-square fa-lg" title="[%|loc%](Edit)[%END%]"></i>
                                    </a>
                                [% END %]
                            </p>
                        [% END %]
                    [% END %]

                    [% TRY; PROCESS nav.tt2; CATCH; ''; END %]

                    <h2>[%|loc%]Internal Server Error[%END%]</h2>
                    <p>[%|loc%]Sympa could not deliver the requested page for the following reason: [%END%]</p>
                    <p>[%|loc(tt2_error)%]Error: %1[%END%]</p>
                    <p>[%|loc%]Please contact the listmaster.[%END%]</p>

                    [% IF top_menu %]
                        [% IF not list %]
                        [% END %]
                    [% END %]
                </main><!-- End content-inner -->

                <div class="displayNone">
                    <a href="#top">[%|loc%]Top of Page[%END%]</a>
                </div>
                <div class="scroll-top-wrapper "></div>

        [% TRY; PROCESS footer.tt2; CATCH; ''; END %]
    </body>
    <!-- end tt2_error.tt2 -->
</html>
