[%# $Id: $ %]
<!-- begin ko_KR/css.tt2 -->
<style type="text/css">
@media screen {  }
* {
    font-family:AppleGothic, "맑은 고딕", "Malgun Gothic", "백묵 굴림", "Baekmuk Gulim", sans-serif;
}
</style>
<!-- end ko_KR/css.tt2 -->
