[%# $Id: $ %]
<!-- begin zh_TW/css.tt2 -->
<style type="text/css">
@media screen {  }
* {
    font-family:"儷黑 Pro", "LiHei Pro", "Apple LiGothic", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}
</style>
<!-- end zh_TW/css.tt2 -->
