# autoreconf

Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/configure
/depcomp
/install-sh
/missing

# ./configure

Makefile
.deps
/config.log
/config.status
/po/sympa/POTFILES
/po/web_help/POTFILES

# make

*.1
*.5
*.8
*.gmo
*.mo
*.o
*.po~
/previous_sympa_version
/src/bin/*.pl
/src/cgi/*.fcgi
/src/libexec/*.pl
/src/sbin/*.pl
/default/list_aliases.tt2
/po/sympa/remove-potcdate.sed
/po/sympa/stamp-po
/po/web_help/remove-potcdate.sed
/po/web_help/stamp-po
/src/etc/script/sympa
/src/lib/Sympa/Constants.pm
/src/lib/Sympa/Internals.pod
/src/libexec/bouncequeue
/src/libexec/familyqueue
/src/libexec/queue
/src/libexec/sympa_newaliases-wrapper

# make install

/data_structure.version
/sympa_wizard.pl.inst
/src/lib/*.3Sympa

# make dist

/sympa-*.tar.gz

# perltidy

*.bak
*.tdy
*.LOG

/.includepath
/.project

# Vim tmp file
*.swp
