# autoreconf

Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/configure
/depcomp
/install-sh
/missing

# ./configure

Makefile
.deps
/config.log
/config.status
/po/sympa/POTFILES
/po/web_help/POTFILES
/sympa.conf

# make

*.1
*.3Sympa
*.5
*.8
*.gmo
*.mo
*.o
*.po~
/previous_sympa_version
/src/bin/*.pl
/src/cgi/*.fcgi
/src/libexec/*.pl
/src/sbin/*.pl
/src/sbin/sympa
/default/list_aliases.tt2
/po/sympa/remove-potcdate.sed
/po/sympa/stamp-po
/po/web_help/remove-potcdate.sed
/po/web_help/stamp-po
/src/etc/script/sympa
/src/lib/stamp-man3
/src/lib/stamp-man1
/src/lib/Sympa/Constants.pm
/src/lib/Sympa/Internals.pod
/src/libexec/bouncequeue
/src/libexec/familyqueue
/src/libexec/queue
/src/libexec/sympa_newaliases-wrapper

# make install

/data_structure.version
/sympa_wizard.pl.inst

# make dist

/sympa-*.tar.gz

# make distcheck

/sympa-*/
/sympa-*.tar.gz.md5
/sympa-*.tar.gz.sha256
/sympa-*.tar.gz.sha512

# perltidy

*.bak
*.tdy
*.LOG

# GitHub
/.github

/.includepath
/.project

# Vim tmp file
*.sw?

# ctags
tags
ctags

# TidyAll
/.tidyall.d
/doc/.tidyall.d

# patch
*.orig
*.rej
