sudo: false

language: perl

perl:
  - "5.24"
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
  - "5.8"

matrix:
  include:
    - perl: "5.16"
      env: COVERAGE=1

before_install:
  - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
  - source ~/travis-perl-helpers/init
  - build-perl
  - perl -V

install:
  - cpan-install --coverage
  - cpanm --notest --quiet Test::Compile Test::Harness Test::More Test::Pod
  - cpanm --notest --quiet Archive::Zip CGI Class::Singleton DBI DateTime::Format::Mail DateTime::TimeZone Digest::MD5 Encode File::Copy::Recursive File::NFSLock File::Path HTML::FormatText HTML::StripScripts::Parser HTML::TreeBuilder IO::File IO::Scalar LWP::UserAgent List::Util::XS Locale::Messages MHonArc::UTF8 MIME::Base64 MIME::Charset MIME::EncWords MIME::Lite::HTML MIME::Tools Mail::Address Net::CIDR Sys::Syslog Template Term::ProgressBar Text::LineFold Time::HiRes URI::Escape XML::LibXML
  - cpanm --notest --quiet Unicode::CaseFold
  - cpanm --notest --quiet SOAP::Lite Net::LDAP 

before_script:
  - coverage-setup

script:
  - autoreconf -i
  - ./configure --disable-smtpc
  - cd src/bin; make; cd ../..
  - cd src/cgi; make; cd ../..
  - cd src/lib; make; cd ../..
  - cd src/libexec; make; cd ../..
  - cd src/sbin; make; cd ../..
  - make check-local TEST_FILES='t/compile_executables.t t/compile_modules.t t/parse_templates.t t/pod-syntax.t'

after_success:
  - coverage-report

