<label for="template.discussion_list">[%|loc%]Public discussion mailing list[%END%]</label>
<ul><li>[%|loc%]public archives[%END%]</li>
<li>[%|loc%]only subscribers can post[%END%]</li>
</ul></dd></dl>
