[% IF p.key == 'include_voot_group' %]
    [%|helploc%]Use the OpenSocial menu on the left to provide
       access to the VOOT server you need.  The providers need
       to be configured by your Sympa administratory.[%END%]
[%END%]

