Subject: [% FILTER qencode %][%|loc(provider)%]Your VOOT access to %1 may have expired.[%END%][%END%]

[%|loc(provider,group)%]Sympa failed to retreive list members via VOOT for group %2.  This may be because your access token for provider %1 has expired.  Please login and reconfirm your `OpenSocial' settings.[%END%]
