<div class="block">

<h2>[%|loc%]Select VOOT provider[%END%]</h2>

<p>[%|loc%]Hereafter is the list of VOOT providers that share group information with Sympa. Select which provider you want to use your groups from.[%END%]</p>

<table style="border: 0px">
  [% FOREACH p IN voot_providers %]
<tr><td style="padding: 0 20px">
  &raquo;&nbsp;<a href="[% path_cgi %]/[% p.next %]/[% list %]/[% p.id %]">[% p.name %]</a></td>
    <td>([% p.id %])</td></tr>
  [%END%]
</table>

</div>
