<!-- $Id$ -->

    <form action="[% path_cgi %]" method="post" class="add-request">
      <input type="hidden" name="list" value="[% list %]" />

        <textarea name="dump" cols="80" rows="25">[%|l%]email1@dom1 Name1[%END%]
[%|l%]email2@dom2 Name2[%END%]
	.......
        </textarea>


      <input type="submit" name="action_add" value="[%|l%]Add subscribers[%END%]" />
      <label><input type="checkbox" name="quiet"> [%|l%]quiet[%END%]</label>

    </form>
