<!-- $Id$ -->

    <FORM ACTION="[% path_cgi %]" METHOD="POST">
      <INPUT TYPE="hidden" NAME="list" VALUE="[% list %]">

        <TEXTAREA NAME="dump" COLS=80 ROWS=25>[%|l%]email1@dom1 Name1[%END%]
[%|l%]email2@dom2 Name2[%END%]
	.......
        </TEXTAREA>


      <INPUT TYPE="submit" NAME="action_add" VALUE="[%|l%]Add subscribers[%END%]">
      <INPUT TYPE="checkbox" NAME="quiet"> [%|l%]quiet[%END%]

    </FORM>
