<!-- $Id$ -->

	<FORM ACTION="[% path_cgi %]" METHOD=POST>
	  <INPUT TYPE="hidden" NAME="list" VALUE="[% list %]">
	  <INPUT TYPE="hidden" NAME="not_a_sniffer" VALUE="1">
	  <INPUT TYPE="submit" NAME="action_arc" VALUE="[%|l%]I am not a spammer[%END%]">
	</FORM>
	<BR>
	<I>[%|l%]This button aims at protecting mailing lists archives against Spam Harvester.[%END%]</I>


	
	

