<!-- $Id$ -->

	<form action="[% path_cgi %]" method="post">
	  <input type="hidden" name="list" value="[% list %]" />
	  <input type="hidden" name="not_a_sniffer" value="1" />
	  <input type="submit" name="action_arc" value="[%|l%]I am not a spammer[%END%]" />
	</form>
	<br />
	<em>[%|l%]This button aims at protecting mailing lists archives against Spam Harvester.[%END%]</em>


	
	

