<!-- $Id$ -->

<B>[% list %]</B> [%|l%]list has been closed. Its subscribers have been deleted from
the subscriber database. The list is no more public on the site.[%END%]
<BR><BR>
[% IF auto_aliases %]
 [%|l%]List aliases have been removed.[%END%]
[% ELSE %]
 [%|l%]You should remove list aliases manually[%END%]
[% END %]
