<!-- $Id$ -->


<FORM ACTION="[% path_cgi %]" METHOD=POST>
    <INPUT TYPE=HIDDEN NAME="action" value="scenario_test">
    <center>
    <TABLE BORDER=0 CELLPADDING=10>
      <TR VALIGN="top">
        <TD COLSPAN=2 NOWRAP>
    	<FONT COLOR="[% dark_color %]"><CENTER><B>[%|l%]Scenario test module[%END%]</b></CENTER></FONT><BR>
        </TD>
      </TR>
      <TR>
        <TD>[%|l%]Scenari name[%END%]</TD>
        <TD>
	  <SELECT NAME="scenario">
	      [% FOREACH sc = scenario %]
	        <OPTION VALUE="[% sc.key %]" [% sc.value.selected %]>[% sc.key %]
	      [% END %]
	  </SELECT>
        </TD>
    </TR>
    <TR>
        <TD>[%|l%]Listname[%END%]</TD>

        <TD>
	  <SELECT NAME="listname">
	      [% FOREACH l = listname %]
	        <OPTION VALUE="[% l.key %]"[% l.value.selected %] >[% l.key %]
	      [% END %]
	  </SELECT>
        </TD>
    </TR>
    <TR>
        <TD>[%|l%]sender email[%END%]</TD>
        <TD>
          <INPUT TYPE="text" NAME="sender" SIZE="20" value="[% sender %]">
        </TD>
    </TR>
    <TR>
        <TD>[%|l%]Related email[%END%]</TD>
        <TD>
          <INPUT TYPE="text" NAME="email" SIZE="20" value="[% email %]">
        </TD>
    </TR>
    <TR>
        <TD>[%|l%]Remote addr[%END%]</TD>
        <TD>
          <INPUT TYPE="text" NAME="remote_addr" SIZE="16" value="[% remote_addr %]">
        </TD>
    </TR>
    <TR>
        <TD>[%|l%]Remote host[%END%]</TD>	
        <TD>
          <INPUT TYPE="text" NAME="remote_host" SIZE="16" value="[% remote_host %]">
        </TD>
    </TR>
    <TR>
        <TD>[%|l%]Auth method[%END%]</TD>
        <TD>
          <SELECT NAME="auth_method">
              [% FOREACH a = auth_method %]
	        <OPTION VALUE="[% a.key %]"[% a.value.selected %] >[% a.key %]
	      [% END %] 
	  </SELECT>
        </TD>
    </TR>
    <TR>

	<TD><INPUT TYPE="submit" NAME="action_scenario_test" VALUE="[%|l%]get matched rule[%END%]"></TD>
        <TD bgcolor="[% dark_color %]">
          [% IF scenario_action %]
             <code>[% scenario_condition %], [% scenario_auth_method %] -> [% scenario_action %]</code>
          [% ELSE %]
          <center>-</center>
          [% END %]
        </TD>

      </TR>

    </TABLE>
    </CENTER>
    </FORM>












