From: [% fromlist %]
To: [% to %]
Subject: [% FILTER qencode %][%subject%][%END%]
Content-Type: multipart/mixed; boundary="[% boundary%]"

--[% boundary %]
Content-Type: message/rfc822
Content-Transfer-Encoding:  8bit
Content-Disposition: inline
X-Sympa-Attach: yes

[% INSERT $file IF file %]

--[% boundary %]--
