From: [% fromlist %]
To: [% to %]
Subject: [% FILTER qencode %][%subject%][%END%]
Mime-version: 1.0
Content-Type: multipart/mixed; charset=[%|loc%]_charset_[%END%]; boundary="[% boundary%]"
Content-Transfer-Encoding: [%|loc%]_encoding_[%END%]

--[% boundary %]
Content-Type: message/rfc822
Content-Transfer-Encoding:  [%|loc%]_encoding_[%END%]
Content-Disposition: inline

[% INSERT $file IF file %]

--[% boundary %]--
