From: [% fromlist %]
Subject: [% FILTER qencode %][%|loc(list.name)%]resubscription to %1[%END%][%END%]

[%|loc(list.name,list.host,user.email)%]You have been subscriber of list %1@%2 with email %3 for 1 year or more;[%END%]
mailto:[% conf.email %]@[% conf.host %]?subject=sub%20[% list.name %]

[%|loc%]Everything about this list : [%END%][% conf.wwsympa_url %]/info/[% list.name %]
[%|loc%]Unsubscription :[%END%]
[% FILTER escape_url %]mailto:[%conf.email%]@[%conf.host%]?subject=sig [%list.name%] [%user.email%][% END %]
