From: SYMPA <[% conf.email %]@[% conf.host %]>
Subject: [% FILTER qencode %][%|loc(list.name)%]Archives index of list %1[%END%][%END%]
MIME-Version: 1.0
Content-Type: text/plain; charset=[% charset %];
Content-Transfer-Encoding: [%|loc%]_encoding_[%END%]

[% FOREACH a = archives -%]
[% a -%]
[% END -%]
