From: [% requested_by %]
Reply-To: [% conf.sympa %]
Subject: [% FILTER qencode %][%|loc(list.name)%]Invitation to join list %1[%END%][%END%]

[%|loc(list.subject)%]This list is about %1, so you are probably concerned.[%END%]

[%|loc%]To subscribe just hit the following mailto url :[%END%]
[% url %]

[%|loc(conf.sympa,subject)%]Or send a message to %1 with subject: "sub %2"[%END%]

[%|loc%]If you don't want to subscribe just ignore this message.[%END%]
