From: SYMPA <[% conf.email %]@[% conf.host %]>
Subject: [% FILTER qencode %][%|loc(list.name)%]%1 mailing list creation[%END%][%END%]

[%|loc(list.name,list.host)%]%1@%2 mailing list has been activated by listmaster.[%END%]

[%|loc%]homepage[%END%]
[% conf.wwsympa_url %]/info/[% list.name %]

[%|loc(list.name)%]%1 admin page[%END%]
[% conf.wwsympa_url %]/admin/[% list.name %]
