From: SYMPA <[% conf.email %]@[% conf.host %]>
Subject: [% FILTER qencode %][%|loc%]Public lists[%END%][%END%]

[%|loc(conf.email,conf.host)%]Here is the list of lists from %1@%2[%END%]

[% FOREACH l = lists -%]
[% l.key %]@[% l.value.host %] : [% l.value.subject %]

[% END %]

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
mailto:[% conf.listmaster %]
