From: [% fromlist %]
Subject: [% FILTER qencode %][%subject%][%END%]

[%|loc(list.name)%]Information regarding list %1[%END%] :

   [%|loc(stats.msg_rcv)%]Number of received messages :      %1[%END%]
   [%|loc(stats.msg_sent)%]Number of forwarded messages:      %1[%END%]

   [%|loc(stats.byte_rcv)%]Received mega-bytes         :      %1[%END%]
   [%|loc(stats.byte_sent)%]Forwarded mega-bytes        :      %1[%END%]
