Content-Type: text/plain; charset=UTF-8;
Content-Transfer-Encoding: 8bit

[%|loc(file_name)%]The %1 file that was initially attached to this message has been stored on the mailing lists server:[%END%]
[% file_url %]
