From: [% fromlist %]
Subject: [% FILTER qencode %][%|loc(list.name)%]Welcome to list %1[%END%][%END%]

[%|loc(list.name,list.host)%]Welcome to list %1@%2[%END%]
[%|loc(user.email)%]Your subscription email is %1[%END%]

[% TRY %]
[% INSERT "info" %]
[% CATCH %]
[% END %]

[%|loc(conf.wwsympa_url,list.name)%]The list homepage: %1/info/%2[%END%]
[%|loc(conf.wwsympa_url)%]General informations about mailing lists: %1/help/introduction[%END%]

