[%# authorization_reject.tt2 ~%]
[%# As of 6.2.19b, this template will no longer be used. It is left for
    compatibility. ~%]
[% PROCESS report.tt2
   report_type='auth'
   report_entry=reason
%]

[%# end authorization_reject.tt2 ~%]
