From: [% fromlist %]
Subject: [% FILTER qencode %][%|loc(list.name)%]Unsubscribed from %1[%END%][%END%]

[%|loc(user.email,list.name,list.host)%]Your email address (%1) has been removed from list %2@%3[%END%]
[%|loc%]bye ![%END%]
