[%# d_install_shared.tt2 ~%]
From: [% fromlist %]
Subject: [%"Your document has been installed"|loc|qencode%]

[%|loc(filename,list.name,domain,installed_by)%]Your document %1 for list %2@%3 has been installed by %4 list moderator.[%END%]

[%|loc%]The list document repository:[%END%] [% 'd_read' | url_abs([list.name]) %]
