[%# listeditor_notification.tt2 ~%]
[%# As of 6.2.57b, this template will no longer be used. It is left for
    compatibility. ~%]
[% IF type == 'shared_moderated' -%]
[% PROCESS shared_moderate.tt2 %] 
[%- ELSE -%]
From: [% fromlist %]
To: [%"Moderator"|loc|mailbox("${list.name}-editor@${domain}",list.name)%]
Subject: [%"Moderators List %1 / %2"|loc(list.name,type)|qencode%]

[% param0 %]
[%- END %]
