Subject: [%"Public lists"|loc|qencode%]

[%|loc(conf.email,domain)%]Here is the list of lists from %1@%2[%END%]

[% FOREACH l = lists -%]
[% l.key %]@[% domain %][%|loc%]:[%END%] [% l.value.subject %]

[% END %]

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
mailto:[% conf.listmaster_email %]@[% domain %]
