[%# reject.tt2 ~%]
From: [% fromlist %]
Subject: [%"Your message has been rejected"|loc|qencode%]

[%|loc(list.name,domain,rejected_by)%]Your message for list %1@%2 has been rejected by the moderator (%3).[%END%]

[%|loc(subject)%](Subject of your mail: %1)[%END%]

[% IF conf.wwsympa_url -%]
[%|loc(list.name)%]Check %1 list usage:[%END%]
[% 'info' | url_abs([list.name]) %]
[% END -%]
