[%# removed.tt2 ~%]
From: [% fromlist %]
Subject: [%"Removed from %1"|loc(list.name)|qencode%]

[%|loc(user.email,list.name,domain)%]Your email address (%1) has been removed from list %2@%3[%END%]

[%|loc%]You can subscribe again:[%END%]
[% IF conf.wwsympa_url -%]
[% 'subscribe' | url_abs([list.name]) %]
[%- ELSE -%]
[% "${conf.email}@${domain}" | mailtourl({subject => "sub ${list.name}"}) %]
[%- END %]

[%# end removed.tt2 ~%]
