<!-- $Id$ -->

	<form action="[% path_cgi %]" method="post">
	 <fieldset>
	  <input type="hidden" name="list" value="[% list %]" />
	  <input type="hidden" name="not_a_sniffer" value="1" />
	  <input class="MainMenuLinks" type="submit" name="action_arc" value="[%|loc%]I am not a spammer[%END%]" />
	 </fieldset>
	</form>
	<br />
	<em>[%|loc%]This button aims at protecting mailing lists archives against Spam Harvester.[%END%]</em>


	
	

