 <table border="0" cellpadding="0" cellspacing="1"><tr><td style="background: [% color_4 %];" valign="top">
   <table border="0" style="width: auto; vertical-align: top;" cellspacing="1" cellpadding="2">
     <tr>
 
