<!-- $Id: change_email_request.tt2 3907 2008-08-08 14:50:16Z peter.hart $ -->

[%|loc%]Changing your email address is a sensitive operation so we need to verify your email.[%END%]<br />
[%|loc(new_email)%]To this end we have sent you an email to this address : %1 with a validation link.[%END%]<br />
[%|loc%]You shoukd check your mailbox now.[%END%]

<!-- end change_email_request.tt2 -->
