<!-- $Id$ -->

[% IF status == 'open' %]
[%|loc%]Your list is created.[%END%]<br /> 
[%|loc%]You can configure it via the admin button beside.[%END%]
<br />
[% IF auto_aliases %]
[%|loc%]Aliases have been installed.[%END%]
[% END %]

[% ELSE %]
[%|loc%]Your list creation request is registered. You can now  modify its
configuration using the admin button but the list will be unusable until the listmaster validates it.[%END%]
[% END %]
<!-- end create_list.tt2 -->
