<h3>[%|loc%]Global unsubscription request[% END %]</h3>
<p>[%|loc(signing_off_email,family)%]You clicked a link to unsubscribe the address %1 from family %2.[% END %]</p>
<p>[%|loc(family)%]A confirmation was just sent to this address. By clicking the link it contains, you will be definitively unsubscribed from all the lists from family %1[% END %]</p>
