<!-- $Id$ -->
	<div class="clearfooter">&nbsp;</div>
<div id="Footer">

<div style="margin:0 0.5em 0 40%; float:left; height:20px; width:20px; vertical-align:middle"> 
<img src="[% icons_url %]/favicon_sympa.png" width="20px" height="20px"/> 
</div>
<div style="margin:0.3em 0; float:left; vertical-align:middle; text-align:left;"> 
 <a href="http://www.sympa.org"> Powered by Sympa [% version %]</a>
</div>

</div>
<!-- end footer.tt2 -->
