<!-- begin footer.tt2 (distrib) -->
<div id="Footer">
     <a style="border: 0px; padding: 0px; margin: 0px;" href="http://www.sympa.org">Powered by Sympa [% version %]</a>
</div>
<!-- end footer.tt2 (distrib) -->
