<!-- $Id$ -->
<div class="clearfooter">&nbsp;</div>

<div id="Footer">

<img src="[% icons_url %]/favicon_sympa.png" width="20px" height="20px"/> 

<a href="http://www.sympa.org"> Powered by Sympa [% version %]</a>


</div>
<!-- end footer.tt2 -->
