<!-- $Id$ -->


<table style="width: 100%;">
 <tr style="background: [% light_color %];">
   <th><strong>[%|loc%]Creation date[%END%]</strong></th>
   <th><strong>[%|loc%]Listname[%END%]</strong></th>
   <th><strong>[%|loc%]Subject[%END%]</strong></th>
 </tr>

[% FOREACH list = latest_lists %]
<tr>
<td>[% list.creation_date %]</td>
<td><a href="[% path_cgi %]/admin/[% list.name %]">[% list.name %]</a></td>
<td>[% list.subject %]</td>
</tr>
[% END %]
</table>




