<!-- $Id$ -->
[% IF homepage_content %]
     [% homepage_content %]
[% ELSE %]

<div class="block">

   <p>
     [% info_content %]
   </p>
	[% IF is_priv %]
	<div class="text_right"><a href="[% path_cgi %]/editfile/[%list%]/description_templates/info">[%|loc%]Edit[%END%]</a></div>
	[% END %]
</div>
[% END %]

<!-- end info.tt2 -->
