   <table style="width: auto;" border="0" cellpadding="0" cellspacing="1">
    <tr>
     <td style="background-color: [% color_4 %];" valign="top">
      <table border="0" style="width: 100%;" cellspacing="1" cellpadding="1">
       <tr>
