<!-- $Id$ -->
<div class="block">

 [%|loc%]In order to perform a privileged operation (one that requires your email address), you need to login.[%END%]
  [% PROCESS 'loginbanner.tt2' %]

</div>
<!-- end loginrequest.tt2 -->
