<div class="MenuBlock menu_search">

 <form action="[% path_cgi %]" method="post"> 
 <fieldset>
    <input type="text" size="14" name="filter" value="[% filter %]" alt="[%|loc%]Enter a list name[%END%]"/>
    <input type="hidden" name="action" value="search_list" />
    <input class="MainMenuLinks" type="submit" name="action_search_list" value="[%|loc%]Search lists[%END%]" />
    <br />
 </fieldset>
</form>

</div>
