<!-- $Id$ -->


<form action="[% path_cgi %]" method="post">
    <input type="hidden" name="action" value="scenario_test" />
    <div style="margin-left: auto; margin-right: auto; text-align: center;">
    <table border="0" cellpadding="10" style="text-align: left;">
      <tr valign="top">
        <td colspan="2" style="white-space: nowrap;">
    	<div style="color: [% dark_color %]; text-align: center;"><strong>[%|loc%]Scenario test module[%END%]</strong></div><br />
        </td>
      </tr>
      <tr>
        <td>[%|loc%]Scenari name[%END%]</td>
        <td>
	  <select name="scenario">
	      [% FOREACH sc = scenario %]
	        <option value="[% sc.key %]" [% sc.value.selected %]>[% sc.key %]</option>
	      [% END %]
	  </select>
        </td>
    </tr>
    <tr>
        <td>[%|loc%]Listname[%END%]</td>

        <td>
	  <select name="listname">
	      [% FOREACH l = listname %]
	        <option value="[% l.key %]"[% l.value.selected %] >[% l.key %]</option>
	      [% END %]
	  </select>
        </td>
    </tr>
    <tr>
        <td>[%|loc%]sender email[%END%]</td>
        <td>
          <input type="text" name="sender" size="20" value="[% sender %]" />
        </td>
    </tr>
    <tr>
        <td>[%|loc%]Related email[%END%]</td>
        <td>
          <input type="text" name="email" size="20" value="[% email %]" />
        </td>
    </tr>
    <tr>
        <td>[%|loc%]Remote addr[%END%]</td>
        <td>
          <input type="text" name="remote_addr" size="16" value="[% remote_addr %]" />
        </td>
    </tr>
    <tr>
        <td>[%|loc%]Remote host[%END%]</td>	
        <td>
          <input type="text" name="remote_host" size="16" value="[% remote_host %]" />
        </td>
    </tr>
    <tr>
        <td>[%|loc%]Auth method[%END%]</td>
        <td>
          <select name="auth_method">
              [% FOREACH a = auth_method %]
	        <option value="[% a.key %]"[% a.value.selected %] >[% a.key %]</option>
	      [% END %] 
	  </select>
        </td>
    </tr>
    <tr>

	<td><input class="MainMenuLinks" type="submit" name="action_scenario_test" value="[%|loc%]get matched rule[%END%]" /></td>
        <td style="background-color: [% dark_color %];">
          [% IF scenario_action %]
             <code>[% scenario_condition %], [% scenario_auth_method %] -> [% scenario_action %]</code>
          [% ELSE %]
          <div style="text-align: center;">-</div>
          [% END %]
        </td>

      </tr>

    </table>
    </div>
    </form>












