<!-- $Id$ -->

<!-- begin title.tt2 -->
<div id="Logo"><a href="./"><!--<img src=""/>--></a></div>
<div id="Title" style="text-align: center;"><h1>[% robot_title %]</h1><br /></div><br />
<div id="top"><a class="displayNone" href="#Paint">Skip to Content.</a></div>
<!-- end title.tt2 -->
