<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="[% iso639 = locale.match('^(.)(.)'); iso639.0; iso639.1 %]" xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="[% css_url %]/style.css" type="text/css" media="screen" title="Derived from style Blank Canvas by tw3k AT tw3k.tw3k.q3machines.net" />
  <title>[%|loc%]Sympa error - could not display web page[%END%]</title>
</head>

<body id="error">
<h1>[%|loc%]Sympa could not deliver the requested page for the following reason : [%END%]</h1><br />
<br />
[% IF tt2_error %]
<em>[% tt2_error %]</em><br /><br />
[% ELSIF errors %]
    [% PROCESS error.tt2 %]
[% END %]
<h2>[%|loc%]Please contact the listmaster.[%END%]</h2>

 <div class="search_form">
   <em>[%|loc%]Powered by[%END%]</em></td>
   <a href="http://www.sympa.org/">
     <img src="[% icons_url %]/logo-s.png" alt="Sympa [% version %]" />
   </a>
</body>
</html>

