<!-- $Id: viewspool_message_mv.tt2 6796 2010-11-25 15:40:21Z serge.aumont $ -->

[% IF moved %]
 Message [% messagekey %]  moved to spool [% newspool %] with status [% newstatus %].

<div class="removed_ok" style="display:none">div used to hide a line</div>

[% ELSE %]
Could not move message.
[% END %]

<!-- end viewspool_message_mv.tt2 -->
