<!-- $Id$ -->
<h1>[%|loc%]Moderation[%END%]</h1>
[% TRY %]

 [% PROCESS 'msg00000.html' %]

[% CATCH %]
   ERROR! Type: [% error.type %]
          Info: [% error.info %]
[% END %]
<!-- end viewmod.tt2 -->
