[ req ]
default_bits		= 2048
encrypt_key		= no
distinguished_name	= req_dn
prompt			= no

[ req_dn ]
countryName		= FR
organizationName	= sympa developpers
organizationalUnitName	= unit testing
commonName		= Guillaume Rousse
emailAddress		= Guillaume.Rousse@sympa.org
