<label for="template.public_web_forum">[%|loc%]Web forum ML[%END%]</label>
<ul><li>[%|loc%]Messages can either be read via email (subscription) or
via the web (web archives)[%END%]</li>
</ul></dd></dl>
