[%|loc%]Confidential list setup[%END%]
<ul>
<li>[%|loc%]No subscription / unsubscription: only the list owner can add members[%END%]</li>
<li>[%|loc%]private archives[%END%]</li>
<li>[%|loc%]list visible to list members only[%END%]</li>
<li>[%|loc%]Only list members can send messages. OTHER ARE SILENTLY REJECTED.[%END%]</li>
</ul></dd></dl>
