[%# $Id: $ %]
/* begin ja_JP/css.tt2 */
@media screen {  }
* {
    font-family:"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "VL Pゴシック", "VL PGothic", "TakaoExゴシック", TakaoExGothic, "IPAexゴシック", IPAexGothic, "IPA Pゴシック", IPAPGothic, sans-serif;
}
/* end ja_JP/css.tt2 */
