[%# $Id: $ %]
<!-- begin ja_JP/css.tt2 -->
<style type="text/css">
@media screen {  }
* {
    font-family:"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", TakaoPGothic, "IPAexゴシック", IPAexGothic, "IPA Pゴシック", IPAPGothic, "VL Pゴシック", "VL PGothic", sans-serif;
}
</style>
<!-- end ja_JP/css.tt2 -->
