<dl><dt>[%|loc%]Hotline mailing list[%END%]</dt><dd>
<ul>
<li>[%|loc%]everyone can post[%END%]</li>
<li>[%|loc%]private archives[%END%]</li>
<li>[%|loc%]controlled subscription[%END%]</li>
</ul></dd></dl>
