From: [% conf.email %]@[% conf.host %]
Subject: [% FILTER qencode %][%|l(list.name)%]Unsubscription from %1[%END%][%END%]

 [%|l(user.email,list.name,list.host)%]Your email address (%1) has been removed from list %2@%3[%END%]
 [%|l%]bye ![%END%]

