From: [% conf.email %]@[% conf.host %]
Subject: [% FILTER qencode %][%|l(list.name)%]Removed from %1[%END%][%END%]

[%|l(user.email,list.name,list.host)%]Your address (%1) has been removed from list
%2@%3
because you didn't confirm your subscription.[%END%]

[%|l%]You can subscribe again :[%END%]
mailto:[% conf.email %]@[% conf.host %]?subject=sub%20[% list.name %]
