[%|l(list.name)%]Information regarding list %1[%END%] :

   [%|l(stats.msg_rcv)%]Number of received messages :      %1[%END%]
   [%|l(stats.msg_sent)%]Number of forwarded messages:      %1[%END%]

   [%|l(stats.byte_rcv)%]Sent mega-bytes             :      %1[%END%]
   [%|l(stats.byte_sent)%]Forwarded mega-bytes        :      %1[%END%]
