Content-Type: text/plain; charset=[%|l%]_charset_[%END%]; name="[% file_name %]"
Content-Disposition: inline; filename="[% file_name %]"
Content-Transfer-Encoding: [%|l%]_encoding_[%END%]

[%|l(file_name)%]The %1 file that was initially attached to this message has been stored of the mailing lists server:[%END%]
[% file_url %]
