Content-Type: text/plain; charset=[%|l%]us-ascii[%END%]; name="[% file_name %]"
Content-Disposition: inline; filename="[% file_name %]"
Content-Transfer-Encoding: [%|l%]7bit[%END%]

[%|l(file_name)%]The %1 file that was initially attached to this message has been stored of the mailing lists server:[%END%]
[% file_url %]
