Content-Type: text/plain; charset=[%|loc%]_charset_[%END%]; name="[% file_name %]"
Content-Disposition: inline; filename="[% file_name %]"
Content-Transfer-Encoding: [%|loc%]_encoding_[%END%]

[%|loc(file_name)%]The %1 file that was initially attached to this message has been stored of the mailing lists server:[%END%]
[% file_url %]
