[%# $Id: $ %]
<!-- begin zh_CN/css.tt2 -->
<style type="text/css">
@media screen {  }
* {
    font-family:"儷黑 Pro", "LiHei Pro", "华文黑体", STHeiti, "微软雅黑", "Microsoft YaHei", "MS Hei", SimHei, sans-serif;
}
</style>
<!-- end zh_CN/css.tt2 -->
